h2 {
    color: #4D97BD;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#title {
    color: #093A52;
    font-family: Georgia;
    width: 310px;
    background-color: #AAD4F0;
    margin: 20px;
    padding: 15px;
    border: 5px solid #65C0FC;
    border-radius: 20px;
}
.subheadings {
    color: #9A70D4;
    font-size: 25px;
}
a {
    color: #5A9E9C;
    font-size: 20px;
}

.text p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.text {
    width: 1370px;
    padding: 20px;
    border: 5px solid #E698F5;
    background-color: #F1D2F7;
    margin: 20px;
}

.table {
    font-size: 20px;
}