<!DOCTYPE html>
<html>
    <head>
        <title>{{page_title}}</title>
    </head>
    <body>
        <h1>About Penguins: A General Overview</h1>
        <p>Penguins are semi-aquatic, flightless sea birds. Highly adapted for life in the ocean water, penguins have dark and white plumage and flippers for swimming. Most penguins feed on krill, fish, squid and other forms of sea life, which they catch with their beaks while swimming.</p>
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVfUnxLrdMIACFWSaKYokRAplbPj67Txwsog&s" width="500" height="300">
    </body>
</html>