<!DOCTYPE html>
<html>
<head>
    <title>{{title}} - Movies Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>{{title}}</h1>

        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Year</th>
                    <th>Director</th>
                    <th>Runtime</th>
                </tr>
            </thead>
            <tbody>
                {% for movie in movies %}
                <tr>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.director }}</td>
                    <td>{{ movie.runtime }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>