<!DOCTYPE html>
<html>
<head>
    <title>Statistics - Movies Database</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Database Statistics</h1>

        <p><a href="/">Back to all movies</a></p>
        <p>Total movies in database: {{total_movies}}</p>
        <p>Average runtime of movies in database: {{average_runtime}}</p>
        <p>Movie with longest runtime: {{longest_movie[0]}} with runtime {{longest_movie[1]}}</p>
    </main>
</body>
</html>